---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Editor } from '../components/Editor';
---

<Layout title="Welcome to Astro.">
	<main>
		<Editor client:load value={`const x = "Hello There";\nconsole.log(x)`} />
		<Editor client:load value={`const x = "Hello There";\nconsole.log(x)`} />
	</main>
</Layout>

<style>
	
</style>
