---
import Layout from '../layouts/Layout.astro';

import { Panel } from '../components/Panel';
---

<Layout title="Welcome to Astro.">
	<main>
		<Panel client:only />
		<Panel client:only />
	</main>
</Layout>

<style>
	
</style>
